<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Informe o nome do funcionario" [(ngModel)]="funcionario.nome" name="nome" required> 
  </mat-form-field>

  <mat-form-field>
    <mat-label>Funcao</mat-label>
    <input matInput placeholder="Informe a função do funcionario" [(ngModel)]="funcionario.funcao" name="funcao" required> 
  </mat-form-field>

  <mat-form-field>
    <mat-label>Salário</mat-label>
    <input matInput placeholder="Salário do funcionário" [(ngModel)]="funcionario.salario" name="salario" required> 
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Mão de obra</mat-label>
    <input matInput placeholder="Valor pago ao funcionário por hora" [(ngModel)]="funcionario.mao_obra" name="mao_obra" required> 
  </mat-form-field>

  <mat-form-field>
    <mat-label>CPF</mat-label>
    <input matInput placeholder="Informe o cpf do funcionario" [(ngModel)]="funcionario.cpf" 
    name="cpf" required mask="000.000.000-00" [dropSpecialCharacters]="false"> 
  </mat-form-field>

   <mat-form-field>
    <mat-label>RG</mat-label>
    <input matInput placeholder="Informe o rg do funcionario" [(ngModel)]="funcionario.rg" 
    name="rg" required mask="00.000.000-0" [dropSpecialCharacters]="false"> 
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Endereço</mat-label>
    <input matInput placeholder="Informe o endereço do funcionario" [(ngModel)]="funcionario.endereco" name="endereco" required> 
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input matInput placeholder="Informe o telefone do funcionario" [(ngModel)]="funcionario.telefone" 
    name="telefone" required> 
  </mat-form-field>

   <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Informe o email do funcionario" [(ngModel)]="funcionario.email" name="email" required> 
  </mat-form-field>
  
  <mat-toolbar class="form-buttons">      
    <mat-toolbar-row>         
      <button mat-raised-button type="submit" color="accent">
        Salvar         
      </button>         
      <button mat-raised-button type="button" (click)="voltar(f)">            
        Voltar         
      </button>      
    </mat-toolbar-row>  
  </mat-toolbar>


</form>